<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangzuhao.dllo.autohome">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ui.app.AutoHomeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ahlib_about_icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.WelcomeActiviry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity android:name=".ui.activity.NewestDetailsActivity"/>
        <activity android:name=".ui.activity.VideoDetailsActivity"/>
        <activity android:name=".ui.activity.ForumSearchActivity"/>
        <activity android:name=".ui.activity.NewsFlashDetailsActivity"/>
        <activity android:name=".ui.activity.CollectAtivity"/>
        <activity android:name=".ui.activity.EnterActivity">
        </activity>
        <activity android:name=".ui.activity.ZhuceActivity"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>